.clock {
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.time {
  font-family: monospace;
  font-size: 3rem;
  color: #333;
}
